<style>
    #leave-add {
        padding: 20px 25px 25px 0;
    }
    #leave-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
    .layui-form-label{
        width: 150px;
    }
    .layui-input-block {
        margin-left: 230px;
        min-height: 36px
    }
</style>
<div class="layui-fluid" id="leave-add">
    <form class="layui-form" action="" lay-filter="leave-add-form">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">leave date：</label>
            <div class="layui-input-block">
                <input type="text" name="time" id="leave-createTime" placeholder="yyyy-MM-dd" class="layui-input"
                       minlength="2" lay-verify="range|time">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label febs-form-item-require">description：</label>
            <div class="layui-input-block">
                <textarea name="description" maxlength="100" class="layui-textarea"
                          minlength="2" lay-verify="range|description"></textarea>
            </div>
        </div>

        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="leave-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset">redo</button>
        </div>
    </form>
</div>

<script>
    layui.use(['febs', 'form', 'jquery', 'validate','laydate'], function () {
        debugger
        var $ = layui.jquery,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate,
            $view = $('#leave-add'),
            $leaveForm = $view.find("form"),
            createTimeFrom,
            createTimeTo;
            validate = layui.validate;

        form.verify(validate);
        form.render();
        laydate.render({
            elem: '#leave-createTime',
            range: true,
            trigger: 'click'
        });

        form.on('submit(leave-add-form-submit)', function (data) {
            console.info(data)
            debugger
            var createTime = $view.find('input[name="time"]').val();
            if (createTime) {
                createTimeFrom = createTime.split(' - ')[0];
                createTimeTo = createTime.split(' - ')[1];
            }
            data.field.starttime = createTimeFrom;
            data.field.endtime = createTimeTo;
            febs.post(ctx + 'leave', data.field, function () {
                layer.closeAll();
                febs.alert.success('New leave succeeded');
                $('#febs-leave').find('#query').click();
            });
            return false;
        });
    });
</script>